<div class="container">
    <h2>Ajout d'un Client</h2>
    <form [formGroup]="clientForm">
        <div>
            <label> Nom de client</label>
            <input type="text" class="form-control" formControlName="nom">
        </div>
        <div>
            <label> Prenom de client</label>
            <input type="text" class="form-control" formControlName="prenom">
        </div>
        <div>
            <label> Adresse de client</label>
            <input type="text" class="form-control" formControlName="adresse">
        </div>
        <div>
            <label> Email de client</label>
            <input type="email" class="form-control" formControlName="email">
        </div>
        <div>      
            <label> Tel de client</label>
            <input type="number" class="form-control" formControlName="tel">
        </div>
        <input type="submit"  value="s'incrire" (click)="ajouterClient()">
    </form>
</div>
