<h3>Liste des produits pour homme</h3>
<div class="container d-flex flex-wrap align-content-start justify-content-around">
    <div class="card" style="width:280px; margin-top: 20px; " *ngFor="let h of Hproduits">
<img class="card-img-top" src={{h.image}} [routerLink]="['/produits', h.id]" > 
<div class="card-body">
{{h.libelle}}  <br>
prix: {{h.prix}} $</div>
</div>
</div>
<h3>Liste des produits pour femme</h3>
<div  class="container d-flex  flex-wrap align-content-start justify-content-around">
<div class="card" style="width:280px; margin-top: 20px; " *ngFor="let f of Fproduits">
    <img  class="card-img-top" src={{f.image}}>
    <div class="card-body">
    {{f.libelle}} <br> prix:{{f.prix}} $
    </div>
</div>
</div>

<h3>Opérations sur les produits des hommes</h3>
<ul>
<li *ngFor= "let ph of Hproduits">
Id: {{ph.id}} - {{ph.libelle}} - Prix: {{ph.prix}}
</li>
</ul>

<h3>Opérations sur les produits des femmes</h3>
<ul>
<li *ngFor= "let pf of Fproduits">
Id: {{pf.id}} - {{pf.libelle}} - Prix: {{pf.prix}}
</li>
</ul>