<h3>Liste des produits pour femme</h3>
<input type="text"[(ngModel)]="search"><input type="button" value="search" (click)="filter()" class="btn btn-dark">
<div  class="container d-flex  flex-wrap align-content-start justify-content-around">
<div class="card" style="width:280px; margin-top: 20px; " *ngFor="let f of Fproduits">
    <img  class="card-img-top" src={{f.image}} [routerLink]="['/fammeproduits', f.id]">
    <div class="card-body">
    {{f.libelle}} <br> prix:{{f.prix}} $
    </div>
</div>
</div>