<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3 class="navbar-brand" routerLink="/acceuil">Chance Shop</h3>
    </div>
    <ul class="nav navbar-nav">
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/hommeproduits" routerLinkActive="active">Homme</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/fammeproduits" routerLinkActive="active">Famme</a>
      </li>
    </ul>



    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span><i class="fa-regular fa-user"></i> </a></li>
    </ul>
  </div>
</nav>